body {
    background-color: black;
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

#loading_screen {
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    display: block;
}

#main_menu {
    color: #000000;
    position: absolute;
    background-color: #f7dc9c;
    width: 100%;
    height: min-content;
    padding-bottom: 10px;
}

#settings-form div {
    /* border: red 1px solid; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
}

#generate-button {
    font-size: 1.4em;
    margin: 20px;
    padding: 10px;
}

#colors {
    width: 220px;
    text-align: left;
    padding-bottom: 0px;
}

#back-to-menu-button {
    display: none;
    color: black;
    background-color: rgb(255, 255, 255, 0.7);
    top: 23px;
    left: 23px;
    padding: 10px 0px 0px 0px;
    border: solid black 1px;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    position: absolute;
}

#back-to-menu-button:hover {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 13px 0px 0px 0px;
    border-radius: 18px;
    cursor: pointer;
    top: 20px;
    left: 20px;
    width: 126px;
    height: 36px;
}

/* h3 {
    font-size: 0.8em;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    color:rgba(200, 0, 200, 1)
}

#sliderForm {
    background-color: rgba(100, 0, 100, 0.5);
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    left: calc(100% - 340px);
    text-align: center;
    color: white;
    position: absolute;
}

#submit-button {
    margin-top: 5px;
}

#slider {
    width: 80%;
}

#description {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;  
    overflow: hidden;  
}

#examples {
    display:flex;
    justify-content:space-evenly
}

.example {
    width: 150px;
    height: 135px;
    background-color: rgba(100, 0, 100, 0.5);

}

.example1 {
    padding-right: 10px;
    padding-top: 7px;
    width: 120px;
    height: 110px;
    background-color: rgba(100, 0, 100, 0.5);
}

.row {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.row div {
    width: 20px;
    text-align: right;
}

#examples-title {
    font-weight: 800;
    text-align: center;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 25px;
}

#header {
    text-align: center;
}

#footer {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}

#github {
    justify-content: center;
    align-items: center;
    display: flex;
}

#github img {
    margin-left: 20px;
    opacity: 0.4;
}

#github img:hover {
    opacity: 0.9;
} */